@page "/FuelTypes/Create"
@inject Data.ApplicationDbContext dbContext
@inject AuthenticationStateProvider _authenticationStateProvider
@attribute [Authorize(Roles = "admin")]

<h3>Dodaj typ opału</h3>

<EditForm Model="fuelTypeToAdd" OnValidSubmit="CreatePostAsync">
    <div class="form-group mb-3">
        <label for="name">Nazwa</label>
        <InputText @bind-Value="fuelTypeToAdd.Name" class="form-control" id="name" />
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-warning" type="submit">
        Dodaj
    </button>

    <button type="button" @onclick="@(() => NavigationManager.NavigateTo("/FuelTypes"))" class="btn btn-secondary">
        Anuluj
    </button>
</EditForm>

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

