@page "/"

<PageTitle>grzejemy.pl</PageTitle>

<head>
 
    <link rel="stylesheet" href="./Index.razor.css">


</head>

<body>
    <div class="brandname">
        <h1>grzejemy.pl</h1>
        <img src="/logogrzejemy.png">
    </div>

    <a class="button-77" role="button" href="/offers">Rozgrzej się!</a>
</body>