@page "/"

<PageTitle>grzejemy.pl</PageTitle>

<head>
 
    <link rel="stylesheet" href="./Index.razor.css">


</head>

<body>
    <div class="brandname">
        <h1>grzejemy.pl</h1>
        <img src="/logogrzejemy.png">
    </div>

    <AuthorizeView Roles="vendor-candidate">
        <div class="info">Twoja prośba o zostanie sprzedawcą jest w trakcie weryfikacji. Prosimy o cierpliwość.</div>
    </AuthorizeView>

    <a class="button-77" role="button" href="/offers">Wyszukaj idealną ofertę</a>
</body>