body {
    background-color: #f7ece1;
}

.searchBox {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #4d2108;
    height: 60px;
    border-radius: 60px;
    padding: 10px;
}

    .searchBox:hover > .searchInput {
        width: 500px;
        padding: 0 6px;
    }

    .searchBox:hover > .searchButton {
        background: #f7ece1;
        color: #2f3640;
    }

.brandname {
    display: flex;
    position: absolute;
    top: 3%;
    left: 43%;
}

img {
    width: 12%;
    height: 100%;
    left: 60%;
}

h1 {
    font-family: 'Comic Sans MS';
    font-size: 48px;
    color: #4d2108;
    position: absolute;
    top: 35%;
    left: 15%;
}

.searchButton {
    color: white;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #4d2108;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #ffdfbd;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}
