@page "/"

<PageTitle>grzejemy.pl</PageTitle>

<head>
    <meta charset="UTF-8">
    <title>Pure CSS Animated Search Bar</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="./Index.razor.css">


</head>

<body>
    <div class="brandname">
        <h1>grzejemy.pl</h1>
        <img src="/logogrzejemy.png">
    </div>
   
    <div class="searchBox">

        <input class="searchInput" type="text" name="" placeholder="Search">
        <button class="searchButton" href="#">
            <i class="material-icons">
                search
            </i>
        </button>
    </div>
    
    <div class="button"></div>


</body>