@page "/SalesPoints/Update/{Id:int}"
@inject Data.ApplicationDbContext dbContext
@attribute [Authorize(Roles = "vendor")]

<h1>Edycja "@salesPointToUpdate.Name"</h1>

<EditForm Model="salesPointToUpdate" OnValidSubmit="UpdatePostAsync">
    <div class="form-group mb-3">
        <label for="name">Nazwa</label>
        <InputText @bind-Value="salesPointToUpdate.Name" class="form-control" id="name" />
    </div>
    <div class="form-group mb-3">
        <label for="street">Ulica</label>
        <InputText @bind-Value="salesPointToUpdate.Street" class="form-control" id="street" />
    </div>
    <div class="form-group mb-3">
        <label for="number">Numer</label>
        <InputText @bind-Value="salesPointToUpdate.Number" class="form-control" id="number" />
    </div>
    <div class="form-group mb-3">
        <label for="postcode">Kod pocztowy</label>
        <InputText @bind-Value="salesPointToUpdate.PostCode" class="form-control" id="postcode" />
    </div>
    <div class="form-group mb-3">
        <label for="city">Miasto</label>
        <InputText @bind-Value="salesPointToUpdate.City" class="form-control" id="city" />
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-warning" type="submit">
        Zatwierdź
    </button>

    <button type="button" @onclick="@(() => NavigationManager.NavigateTo("/SalesPoints"))" class="btn btn-secondary">
        Anuluj
    </button>
</EditForm>

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager


