@page "/Offers/"
@inject Data.ApplicationDbContext dbContext
@inject AuthenticationStateProvider _authenticationStateProvider

<h3>Offers manager</h3>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th scope="col">fuel type</th>
            <th scope="col">price</th>
            <th scope="col">sales post code</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (offers != null)
        {
            foreach (var offer in offers)
            {
                {
                    <tr>
                        <td>@offer.FuelType.Name</td>
                        <td>@offer.Price</td>
                        <td>@offer.SalesPoint.PostCode</td>
                        <td>             
                            <a href="Offers/@offer.Id/Comments" class="btn btn-warning btn-lg w-20 my-2">
                                Details and comments
                            </a>
                            <AuthorizeView Roles="vendor">
                                <a href="Offers/Update/@offer.Id" class="btn btn-warning btn-lg w-20 my-2">
                                Update
                                </a>
                            </AuthorizeView>
                            <AuthorizeView Roles="vendor, admin">
                                <button @onclick="() => DeleteOfferAsync(offer)" class="btn btn-danger btn-lg w-20 my-2">
                                Delete
                                </button>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


@inject IJSRuntime JsRuntime

