.datagrid {
    --rz-grid-header-background-color: #e37b64;
    font-size: 20px;
    --rz-grid-background-color: #f7b77c;
    --rz-grid-cell-font-size: 18px;
    --rz-grid-header-font-size: 20px;
    --rz-text-color: #e37b64;
}
h3 {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    color: #4d2108;
    position: absolute;
    top: 35%;
    left: 15%;
}
img {
    width: 3%;
    height: 25%;
    left: 80%;
}
h1 {
    font-family: 'Comic Sans MS';
    display: flex;
    position: absolute;
    top: 3%;
    left: 43%;
}