@page "/Offers/"
@inject Data.ApplicationDbContext dbContext
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@using Radzen
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore

<head>
    <link rel="stylesheet" href="./Index.razor.css">
</head>

    <h3>
        <h1>Przeglądanie ofert</h1>
        <img src="/logogrzejemy.png">
    </h3>
<body>


<div class="datagrid">

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.Simple" PageSize="20" AllowPaging="true" AllowSorting="true" Data="@offersDataGrid" TItem="Offer" ColumnWidth="200px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        LogicalFilterOperator="LogicalFilterOperator.Or" AllowMultiColumnSorting="true" >
    <Columns>
        <RadzenDataGridColumn TItem="Offer" Property="SalesPoint.Name" Title="Punkt Sprzedaży" />
        <RadzenDataGridColumn TItem="Offer" Property="FuelType.Name" Title="Typ Opału" />
        <RadzenDataGridColumn TItem="Offer" Property="Price" Title="Cena" Filterable="true" Sortable="true" />
        <RadzenDataGridColumn TItem="Offer" Property="FuelType.Unit" Title="Jednostka" />
        <RadzenDataGridColumn TItem="Offer" Property="SalesPoint.PostCode" Title="Kod pocztowy" />
        <RadzenDataGridColumn TItem="Offer" Property="SalesPoint.City" Title="Miasto" />
        <RadzenDataGridColumn TItem="Offer" Context="Offer" Title="Szczegóły">
            <Template Context="Offer">
                <RadzenButton Icon="list" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click=@(args => GoToComments(Offer.Id)) @onclick:stopPropagation="true" />
            <AuthorizeView Roles="vendor">
                    @if (Offer.SalesPoint.Vendor.Id == currUserId)
                    {
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(args => GoToEdit(Offer.Id)) @onclick:stopPropagation="true" />
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(args => DeleteOfferAsync(Offer))  @onclick:stopPropagation="true" />
                    }
            </AuthorizeView>
            <AuthorizeView Roles="admin">
                 <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(args => DeleteOfferAsync(Offer))  @onclick:stopPropagation="true" />
            </AuthorizeView  >
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
</div>
</body>
