@page "/Offers/{Id:int}/Comments/Create"
@inject Data.ApplicationDbContext dbContext
@inject AuthenticationStateProvider _authenticationStateProvider

<h3>Komentarz</h3>

<EditForm Model="commentToAdd" OnValidSubmit="CreateCommentAsync">
    <div class="form-group mb-3">
        <label for="paidPrice">Zapłacona kwota</label>
        <InputNumber @bind-Value="commentToAdd.PaidPrice" class="form-control" id="paidPrice" />
    </div>
    <div class="form-group mb-3">
        <label for="comment">Komentarz</label>
        <InputText @bind-Value="commentToAdd.Content" class="form-control" id="comment" />
    </div>
    <RadzenFileInput @bind-Value=@imageString TValue="string" Class="w-100" />
    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-warning" type="submit">
        Dodaj
    </button>

    <button type="button" @onclick="@(() => NavigationManager.NavigateTo("/Offers/" + @offer.Id + "/Comments"))" class="btn btn-secondary">
        Anuluj
    </button>
</EditForm>


@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
