@page "/FuelTypes"
@using grzejemy.Models
@inject Data.ApplicationDbContext dbContext

<h3>FuelTypes</h3>

@code {
    private FuelTypes[]? fuelTypes;
    //@todo fetch data from dbContext and display a table using foreach directives
}
